.button-row{
  margin-left:83%;
}

.header{
  text-align: center;
}

.table{
  margin-top:20px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d6103e;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
th, td {
  text-align: left;
  padding: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

h2{
  color: #d6103e;
}
