.navbar{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #d6103e;
  color: white;
}

.navbar a{
  color: white;
  font-family: "UbuntuRegular",Tahoma,Arial,Helvetica,Verdana,sans-serif;
}

.navigation-primary{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation-primary li{
  margin-left:20px;
  margin-right:20px;
}
