.navbar{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d6103e;
  color: white;
}

.navbar a{
  color: white;
  font-family: "UbuntuRegular",Tahoma,Arial,Helvetica,Verdana,sans-serif;
}
