<div class="header">
  <div class="col-md-12"><p>Dossier list</p></div>
</div>


<div class="col-md-12 button-row">
  <a class="btn btn-primary col-md-2 float-right" routerLink="/dossiers/create">Create absence course</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Employee</th>
    <th scope="col">Start at</th>
    <th scope="col">End at</th>
    <th scope="col">Dossier Status</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dossier of dossierArray">
    <th scope="row">{{dossier['employee']['name'] ?? ''}}</th>
    <td>{{dossier['start_at'] ?? ''}}</td>
    <td>{{dossier['end_at'] ?? ''}}</td>
    <td>{{dossier['dossier_status']['name'] ?? ''}}</td>
    <td [routerLink]="['update', dossier['id']]"><button class="btn btn-info">Edit</button></td>
    <td (click)="delete(dossier['id'])"><button class="btn btn-danger">Delete</button></td>
  </tr>
  </tbody>
</table>
