<div class="col-md-12">
  <div class="col-md-6 float-left"><p>Employee list</p></div>
  <a class="btn btn-primary col-md-2 float-right" routerLink="/employees/create">Create</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Employer Name</th>
    <th scope="col">Date of birth</th>
    <th scope="col">Employer</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employee of employeesArray">
    <th scope="row" [routerLink]="['employee', employee['id']]">{{employee['name'] ?? ''}}</th>
    <td [routerLink]="['employee', employee['id']]">{{employee['date_of_birth'] ?? ''}}</td>
    <td [routerLink]="['employee', employee['id']]">{{employee['employer']['name'] ?? ''}}</td>
    <td [routerLink]="['update', employee['id']]"><button class="btn btn-info">Edit</button></td>
    <td (click)="delete(employee['id'])">
      <button class="btn btn-danger">Delete</button></td>
  </tr>
  </tbody>
</table>
<div class="form-group" *ngIf="succesMessage">
  <div
    class="alert alert-success"
    role="alert">
    {{ succesMessage }}
  </div>
</div>

<div class="form-group" *ngIf="errorMessage">
  <div
    class="alert alert-danger"
    role="alert">
    {{ errorMessage }}
  </div>
</div>
